.quote-team {
  display: flex;
  align-items: center;
}
.quote-team-author {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .quote-team {
    flex-direction: column;
  }
  .quote-team-author {
    margin: 0;
    margin-top: 19px;
  }
}
