/* This CSS is common to all pages */

body {
  margin: 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a.navigation-link {
  padding: 2px 10px;
  margin-left: -10px;
}
a.navigation-link.is-active {
  background-color: #eee;
}
code {
  font-family: monospace;
  background-color: #eaeaea;
  padding: 3px 5px;
  border-radius: 4px;
}

#page-content {
  transition: opacity 0.1s ease-in;
}
#page-content.page-transition {
  opacity: 0;
}
