.feature-wall {
  display: inline-block;
  /*
  display: flex;
  flex-wrap: wrap;
  */
}
.feature-wall > * {
  border: 1px solid #aaa;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  padding: 10px;
  width: 300px;
}
.feature-advanced {
  position: relative;
}
.feature-advanced:before {
  content: 'Advanced';
  font-size: 0.85em;
  padding: 2px 5px;
  background: #aaa;
  border: 1px solid yellow;
  position: absolute;
  top: -1.2em;
  right: 10px;
}
