version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      controlled-dependencies:
        patterns:
          - "vike*"
          - "@brillout/*"
          - "@universal-middleware/*"
