# Is this still needed? (We removed examples that needed this.)
shamefully-hoist=true
# We don't control the dependencies of `examples/`. We can't fix the root causes of the warnings.
loglevel=error
strict-peer-dependencies=false
# https://pnpm.io/npmrc#resolution-mode
# https://github.com/pnpm/pnpm/issues/6463
resolution-mode=highest
