#pricing-table {
  a {
    text-decoration: underline;
  }
}
@media screen and (max-width: 899px) {
  #pricing-table_extra-width {
    margin: 0 !important;
  }
  #pricing-table_filler {
    display: none;
  }
}
