.colorize-on-hover,
.colorize-on-hover [class^="decolorize-"],
.colorize-on-hover [class*=" decolorize-"] {
  transition: filter 0.3s ease-in-out;
}
.colorize-on-hover:hover,
.colorize-on-hover:hover [class^="decolorize-"],
.colorize-on-hover:hover [class*=" decolorize-"] {
  filter: grayscale(0) opacity(1) !important;
}

.decolorize-7 {
  filter: grayscale(1) opacity(0.7);
}
.decolorize-6 {
  filter: grayscale(1) opacity(0.6);
}
.decolorize-5 {
  filter: grayscale(1) opacity(0.5);
}
.decolorize-4 {
  filter: grayscale(1) opacity(0.4);
}

/*
 * Twitter opacity(0.7): #ababab > #868686
 * == Following computation does NOT work ==
 * Discord opacity(0.7): #6c6c6c > (0.7 * (#fff - #ababab) = #868686 = x * (#fff - #6c6c6c) <=> x = 0.7 * ((#fff - #ababab) / (#fff - #6c6c6c)) = 0.7 * ((255 - 171) / (255 - 108)) = 0.4)
 */
