#feature-list h2 {
  font-size: 2.2em;
  text-align: center;
  margin-top: var(--block-margin);
  padding-top: 50px;
  margin-bottom: 50px;
}
#feature-list .feature-unit {
  padding-bottom: 50px;
}
#feature-list h3 {
  font-size: 1.4em;
  margin-top: 0px;
  margin-bottom: -4px;
}
.feature-unit_no-heading {
  margin-top: -20px;
}
.flex-parent {
  column-gap: 50px;
  row-gap: 30px;
}

@media screen and (max-width: 719px) {
  #feature-list h2 {
    font-size: 1.9em;
    padding-top: 20px;
    margin-bottom: 23px;
  }
  #feature-list .feature-unit {
    padding-bottom: 15px;
  }
  #feature-list h3 {
    margin-bottom: 18px;
    font-size: 1.3em;
  }
  .feature-unit_no-heading {
    margin-top: -16px;
  }
  .flex-parent {
    column-gap: 10px;
    row-gap: 10px;
  }
}
