#feature-list h2 {
  font-size: 2.2em;
  padding-top: 50px;
  margin-bottom: 50px;
}
#feature-list .feature-unit {
  padding-bottom: 50px;
}
#feature-list h3 {
  margin-top: 0;
  margin-bottom: -4px;
  font-size: 1.4em;
}
.no-subheading-padding {
  margin-top: -20px;
}
.grid-parent {
  column-gap: 50px;
  row-gap: 30px;
}
@media screen and (max-width: 719px) {
  #feature-list h2 {
    font-size: 1.9em;
    padding-top: 20px;
    margin-bottom: 23px;
  }
  #feature-list .feature-unit {
    padding-bottom: 15px;
  }
  #feature-list h3 {
    margin-bottom: 18px;
    font-size: 1.3em;
  }
  .no-subheading-padding {
    margin-top: -16px;
  }
  .grid-parent {
    column-gap: 30px;
    row-gap: 10px;
  }
}
