#feature-list h2:before {
  content: attr(data-text);
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.13em;
  text-decoration-color: inherit;
  color: transparent;
  position: absolute;
  display: inline-block;
  max-width: 0px;
  overflow: hidden;
  white-space: nowrap;
  transition: max-width var(--animation-duration) ease-out;
}
#feature-list h2.heading-highlight:before {
  max-width: var(--heading-width);
}
