#header-container h1,
#header-container p {
  margin-left: 20px;
}
#header-container {
  padding-top: 80px;
  padding-bottom: 80px;
}
#header-container h1 {
  font-size: 3.3em;
}
#header-tagline {
  font-size: 1.5em;
}
@media screen and (max-width: 1139px) {
  #header-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #header-container h1 {
    font-size: 3em;
  }
  #header-tagline {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 719px) {
  #header-container {
    flex-direction: column;
    text-align: center;
  }
  #header-logo {
    display: none;
  }
  #header-container h1,
  #header-container p {
    margin-left: 0px;
  }
  #header-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #header-container h1 {
    font-size: 2.5em;
  }
  #header-tagline {
    font-size: 1.3em;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 500px) {
  #header-container h1 {
    font-size: 2.1em;
  }
  #header-tagline {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 400px) {
  #header-container h1 {
    font-size: 1.9em;
  }
}
@media screen and (max-width: 350px) {
  #header-container h1 {
    font-size: 1.7em;
  }
  #header-tagline {
    font-size: 1.14em;
  }
}
