#header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: var(--header-max-width);
  padding: var(--header-padding) 0px;
}
#header-logo h1 {
  margin: 0;
  font-size: 4em;
  line-height: 1.1em;
  margin-bottom: 8px;
}
#header-logo h1,
#header-logo p {
  margin-left: 20px;
}

:root {
  --header-max-width: 920px;
}
#header-logo img {
  height: 160px;
  margin-right: 6px;
}
@media screen and (max-width: 719px) {
  #header-logo {
    flex-direction: column;
    text-align: center;
  }
  #header-logo img {
    display: none;
  }
}
@media screen and (min-width: 720px) {
  :root {
    --header-padding: 20px;
  }
  #header-logo {
    padding-top: 30px;
  }
  .header-separator-line {
    padding-top: 15px;
    padding-bottom: 25px;
  }
  .header-separator-line.primary {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #header-tagline {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    max-width: 400px;
  }
}
@media screen and (max-width: 1159px) {
  :root {
    --header-padding: 10px;
  }
  #header-logo {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .header-separator-line {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #header-logo {
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
