#header-container {
  padding-top: 110px;
  padding-bottom: 110px;
}
#header-container h1 {
  font-size: 3.3em;
}
#header-tagline {
  font-size: 1.6em;
  margin-bottom: 0;
}
@media screen and (max-width: 1139px) {
  #header-container {
    padding-top: 80px;
    padding-bottom: 87px;
  }
  #header-container h1 {
    font-size: 3em;
  }
  #header-tagline {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 719px) {
  #header-container {
    flex-direction: column;
    text-align: center;
  }
  #header-logo {
    display: none;
  }
  #header-container h1,
  #header-container p {
    margin-left: 0px;
  }
  #header-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #header-container h1 {
    font-size: 2.7em;
  }
  #header-tagline {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 450px) {
  #header-container h1 {
    font-size: 2.4em;
  }
  #header-tagline {
    font-size: 1.3em;
  }
}
