h1 #tagline-main {
  font-size: 54px;
}
h1 #tagline-secondary {
  font-size: 27px;
}
#landing-page h2 {
  font-size: 36px;
  font-weight: 500;
}
#landing-page h3 {
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  h1 #tagline-main {
    font-size: 40px;
  }
  h1 #tagline-secondary {
    font-size: 20px;
  }
  #landing-page h1 {
    font-size: 48px;
  }
  #landing-page h2 {
    font-size: 28px;
  }
  #landing-page h3 {
    font-size: 18px;
  }
}

#landing-page a:has(> .landingpage-button) {
  display: inline-block;
}
