h2 {
    font-size: 36px;
    font-weight: 500;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 20px;
    }
}
