#npm-init-code-snippet:before {
  z-index: 11;
}
#npm-init-code-snippet:after {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: -4px 0px 15px 5px red;
  box-shadow: -7px 0px 30px 5px white;
  box-shadow: -2px 0px 15px 2px white;
}
@container(max-width: 759px) {
  #tour-call-to-action {
    display: none !important;
  }
}
