.landingpage-sponsors-container {
  margin-top: 162px;
  margin-bottom: 90px;
  text-align: center;
}

.landingpage-sponsors-textContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.landingpage-sponsors-innerTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landingpage-sponsors-sponsorList {
  margin-top: 17px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}
.landingpage-sponsors-sponsor {
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landingpage-sponsors-sponsorLogo {
  height: 40%;
}

@media screen and (max-width: 768px) {
  .landingpage-sponsors-container {
    margin: 40px 0;
  }
  .landingpage-sponsors-textContainer {
    display: flex;
    text-align: start;
    margin-bottom: 48px;
  }
  .landingpage-sponsors-innerTextContainer {
    align-items: start;
  }
  .landingpage-sponsors-sponsorList {
    margin-top: -10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .landingpage-sponsors-sponsor {
    flex: unset;
  }
}
