:root {
  --content-max-width: 880px;
}
#docs {
  max-width: var(--content-max-width);
  margin: auto;
}
#docs h2 + h3 {
  margin-top: 0;
}
#docs h2,
#docs h3 {
  margin-top: 120px;
  padding-top: 30px;
  /*
  margin-top: 0;
  padding-top: 150px
  */
}
