#features-row-1 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 30px;
}
#features-row-2 {
  display: grid;
  font-size: 0.9em;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 30px;
}
#features-row-2 h2 {
  font-size: 1.1em;
  margin-bottom: 0.9em;
  margin-top: 2em;
}
#features p {
  margin: 5px 0;
}
#features-row-1 h2 {
  margin-bottom: 0.9em;
  margin-top: 2em;
}
