.social-link {
  transition: filter 0.3s ease-in-out;
  filter: grayscale(1);
}
.social-link#twitter-link {
  filter: grayscale(1) opacity(0.7);
}
.social-link#discord-link {
  filter: grayscale(1) opacity(0.6);
}
.social-link#github-link {
  filter: grayscale(1) opacity(0.4);
}
.social-link:hover {
  filter: grayscale(0) opacity(1) !important;
}

#npm-init-code-snippet {
  --balloon-color: #444;
  --balloon-move: 2px;
  --balloon-font-size: 15px;
  --balloon-border-radius: 5px;
}

#npm-init-code-snippet:before {
  z-index: 11;
}
#npm-init-code-snippet:after {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: -4px 0px 15px 5px red;
  box-shadow: -7px 0px 30px 5px white;
  box-shadow: -2px 0px 15px 2px white;
}

/*
 * Twitter opacity(0.7): #ababab > #868686
 * == Following computation does NOT work ==
 * Discord opacity(0.7): #6c6c6c > (0.7 * (#fff - #ababab) = #868686 = x * (#fff - #6c6c6c) <=> x = 0.7 * ((#fff - #ababab) / (#fff - #6c6c6c)) = 0.7 * ((255 - 171) / (255 - 108)) = 0.4)
 */
