#header {
  display: flex;
  max-width: 960px;
  margin: auto;
  padding-bottom: 70px;
}

#npm-init-code-snippet {
  --balloon-color: #444;
  --balloon-move: 2px;
  --balloon-font-size: 15px;
  --balloon-border-radius: 5px;
}

#npm-init-code-snippet:before {
  z-index: 11;
}
#npm-init-code-snippet:after {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: -4px 0px 15px 5px red;
  box-shadow: -7px 0px 30px 5px white;
  box-shadow: -2px 0px 15px 2px white;
}

@media screen and (max-width: 1229px) {
  #header-right-side {
    display: none;
  }
}

@media screen and (min-width: 720px) {
  #header {
    padding: 50px 20px;
  }
  #header-logo {
    padding-bottom: 20px;
    margin-bottom: 10px;
  }
  #header-logo img {
    height: 90px;
    margin-right: 20;
  }
  #header-logo h1 {
    font-size: 1em;
    margin: 0;
  }
  #header-tagline {
    font-size: 2em;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 719px) {
  #header {
    padding: 30px 10px;
  }
  #header-logo {
    padding-bottom: 20px;
    margin-bottom: 0px;
  }
  #header-logo {
    flex-direction: column;
  }
  #header-logo img {
    height: 160px;
    margin-bottom: 20px;
  }
  #header-logo h1 {
    font-size: 0.6em;
  }
  #header-tagline {
    font-size: 1.3em;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}

/*
 * Twitter opacity(0.7): #ababab > #868686
 * == Following computation does NOT work ==
 * Discord opacity(0.7): #6c6c6c > (0.7 * (#fff - #ababab) = #868686 = x * (#fff - #6c6c6c) <=> x = 0.7 * ((#fff - #ababab) / (#fff - #6c6c6c)) = 0.7 * ((255 - 171) / (255 - 108)) = 0.4)
 */
