body {
  font-family: Inter;
  color: #323d48;
  margin: 0;
  line-height: 1.5;
}

a {
  /*
  color: inherit;
  */
  color: #4747ff;
  text-decoration: none;
}

code[class*='language-'] {
  padding: 16px;
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 12deg;
  src: url('./Inter-Var.ttf') format('truetype-variations');
}

code:not([class*='language-']) {
  /*
  background-color: #f4f4f4;
  0.043137255 = 1 - (#f4 / #ff)
  */
  background-color: rgba(0, 0, 0, 0.043137255);
  border-radius: 4px;
  padding: 2px 5px;
}
