body {
  font-family: Inter;
  color: #323d48;
  margin: 0;
  line-height: 1.5;
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 12deg;
  src: url('./Inter-Var.ttf') format('truetype-variations');
}

code {
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 2px 5px;
}
