.nav-item-h2 {
  font-size: 14.4px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.15ch;
  color: #323d48;
  padding: 12px 0;
  padding-left: 40px;
  padding-right: 4px;
  display: block;
  text-decoration: none;
}
.nav-item-h3 {
  font-size: 14.4px;
  font-weight: 400;
  letter-spacing: 0.15ch;
  color: #323d48;
  padding: 6px 0;
  padding-left: 60px;
  padding-right: 4px;
  display: block;
  text-decoration: none;
}
/*
.nav-item {
  border-top: 1px solid transparent;
}
.nav-item.is-active {
  border-color: #eaeaea;
}
.nav-item[is-active] {
  background-color: attr(is-active)
}
*/

#panel-left:not(:hover) ::-webkit-scrollbar {
  display: none;
}
/*
#panel-left ::-webkit-scrollbar-thumb {
  opacity: 0;
}
#panel-left ::-webkit-scrollbar-track {
  opacity: 0;
}
*/
