/* This CSS is common to all pages */

body {
  margin: 0;
  font-family: 'Sono', sans-serif;
}
@font-face {
  font-family: 'Sono';
  src: url('./Sono-Light.woff2') format('woff2'), url('./Sono-Light.ttf') format('truetype');
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.navitem {
  padding: 3px;
}
