@import 'tailwindcss';
@import './vike-docs-legacy.css';

/* custom */
@theme {
  --font-sans: 'Inter', sans-serif;
  --text-tiny: 0.65rem;

  --color-black: oklch(0.1605 0.0241 248.51);
  --color-content: oklch(0.3546 0.0241 248.51);
  --color-grey: oklch(0.4553 0.0241 248.51);
  --color-grey-100: oklch(0.5482 0.0241 248.51);
  --color-grey-200: oklch(0.7347 0.0241 248.51);
  --color-grey-200-hex: #9eabb8;
  --color-grey-300: oklch(0.8377 0.0171 248.51);
  --color-grey-300-hex: #c1cbd5;
  --color-grey-400: oklch(0.9302 0.0103 248.51);
  --color-bg: oklch(0.9702 0 0);
  --color-white: oklch(1 0 0);

  /* daisyUI specific */
  --d-color-primary: oklch(0.4733 0.2194 297.53);
  --d-color-secondary: oklch(0.5706 0.185 256.24);
  --d-color-accent: oklch(60% 0.118 184.704);
  --d-color-info: oklch(60% 0.126 221.723);
  --d-color-success: oklch(62% 0.194 149.214);
  --d-color-warning: oklch(80% 0.199 91.936);
  --d-color-error: oklch(57% 0.245 27.325);

  /* convert hex to oklch: https://oklch.com/ */
  --color-onBeforeRenderClient: oklch(0.819 0.0686 339.84);
  --color-onBeforeRenderClient-hex: #e3b3d2;
  --color-Wrapper: oklch(0.7227 0.12 54.89);
  --color-Wrapper-hex: #df9058;
  --color-onCreatePageContext: oklch(0.7996 0.0782 201.92);
  --color-onCreatePageContext-hex: #7ecdd3;
  --color-Head: oklch(0.8449 0.1889 127.63);
  --color-Head-hex: #a9e248;
  --color-onHookCall: oklch(0.6916 0.2222 344.42);
  --color-onHookCall-hex: #f453bc;
  --color-onBeforeRenderHtml: oklch(0.6921 0.0872 95.93);
  --color-onBeforeRenderHtml-hex: #ac9c5b;
  --color-onRenderClient: oklch(0.6733 0.1463 21.75);
  --color-onRenderClient-hex: #e26d6d;
  --color-onCreateGlobalContext: oklch(0.5602 0.0646 243.91);
  --color-onCreateGlobalContext-hex: #537998;
  --color-onError: oklch(0.8031 0.1636 159.24);
  --color-onError-hex: #42de98;
  --color-onRenderHtml: oklch(0.7277 0.1574 139.22);
  --color-onRenderHtml-hex: #6fbe59;
  --color-onAfterRenderHtml: oklch(0.8549 0.1547 94.42);
  --color-onAfterRenderHtml-hex: #f0cd42;
}

@plugin "daisyui" {
  root: '#tailwind-portal';
  /* leave this here - seems playwright or other headless browsers are not able to support @property css attributes */
  exclude: properties;
  themes: vike --default;
}

@plugin "daisyui/theme" {
  name: 'vike';
  --color-base-100: var(--color-grey-300);
  --color-base-200: var(--color-grey-400);
  --color-base-300: var(--color-bg);
  --color-base-content: var(--color-content);
  --color-primary: var(--d-color-primary);
  --color-primary-content: var(--color-bg);
  --color-secondary: var(--d-color-secondary);
  --color-secondary-content: var(--color-bg);
  --color-accent: var(--d-color-accent);
  --color-accent-content: var(--color-bg);
  --color-neutral: var(--color-black);
  --color-neutral-content: var(--color-bg);
  --color-info: var(--d-color-info);
  --color-info-content: var(--color-bg);
  --color-success: var(--d-color-success);
  --color-success-content: var(--color-bg);
  --color-warning: var(--d-color-warning);
  --color-warning-content: var(--color-black);
  --color-error: var(--d-color-error);
  --color-error-content: var(--color-bg);
  /* .rounded-selector = 0.25rem */
  --radius-selector: 0.25rem;
  /* .rounded-field = 0.5rem */
  --radius-field: 0.5rem;
  /* .rounded-box = 1rem */
  --radius-box: 1rem;
  /* 4px */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;

  --depth: 0;
  --noise: 0;
}
