@import 'tailwindcss';

/* custom */
@theme {
  --font-sans: 'Inter', sans-serif;
  --text-tiny: 0.65rem;

  --color-gray: oklch(0.5 0.01 250);
  --color-shade: oklch(0.8359 0 0);
  --color-shade-100: oklch(0.8923 0 0);
  --color-white: oklch(1 0 0);

  /* convert hex to oklch: https://oklch.com/ */
  --color-onBeforeRenderClient: oklch(0.819 0.0686 339.84);
  --color-onBeforeRenderClient-hex: #e3b3d2;
  --color-Wrapper: oklch(0.7227 0.12 54.89);
  --color-Wrapper-hex: #df9058;
  --color-onCreatePageContext: oklch(0.7996 0.0782 201.92);
  --color-onCreatePageContext-hex: #7ecdd3;
  --color-Head: oklch(0.8449 0.1889 127.63);
  --color-Head-hex: #a9e248;
  --color-onHookCall: oklch(0.6916 0.2222 344.42);
  --color-onHookCall-hex: #f453bc;
  --color-onBeforeRenderHtml: oklch(0.6921 0.0872 95.93);
  --color-onBeforeRenderHtml-hex: #ac9c5b;
  --color-onRenderClient: oklch(0.6733 0.1463 21.75);
  --color-onRenderClient-hex: #e26d6d;
  --color-onCreateGlobalContext: oklch(0.5602 0.0646 243.91);
  --color-onCreateGlobalContext-hex: #537998;
  --color-onError: oklch(0.8031 0.1636 159.24);
  --color-onError-hex: #42de98;
  --color-onRenderHtml: oklch(0.7277 0.1574 139.22);
  --color-onRenderHtml-hex: #6fbe59;
  --color-onAfterRenderHtml: oklch(0.8549 0.1547 94.42);
  --color-onAfterRenderHtml-hex: #f0cd42;
}

@plugin "daisyui" {
  /* leave this here - seems playwright or other headless browsers are not able to support @property css attributes */
  exclude: properties;
  themes: vike --default;
}

@plugin "daisyui/theme" {
  name: 'vike';
  --color-base-100: oklch(0.84 0 0);
  --color-base-200: oklch(0.9037 0 0);
  /* brightest: #f5f5f5 */
  --color-base-300: oklch(0.9702 0 0);
  --color-base-content: oklch(0.3546 0.0241 248.51);
  --color-primary: oklch(58% 0.158 241.966);
  --color-primary-content: oklch(98% 0.002 247.839);
  --color-secondary: oklch(55% 0.046 257.417);
  --color-secondary-content: oklch(98% 0.002 247.839);
  --color-accent: oklch(60% 0.118 184.704);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(20% 0.012 264.531);
  --color-neutral-content: oklch(85.488% 0.002 253.041);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(80% 0.199 91.936);
  --color-warning-content: oklch(13% 0.028 261.692);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  /* .rounded-selector = 0.25rem */
  --radius-selector: 0.25rem;
  /* .rounded-field = 0.5rem */
  --radius-field: 0.5rem;
  /* .rounded-box = 1rem */
  --radius-box: 1rem;
  /* 4px */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;

  --depth: 0;
  --noise: 0;
}

@layer base {
  /* re-apply paragraph margin and heading style for other doc pages, 
  since daisy ui removes the spacing of p elements */
  p {
    @apply my-4;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  .tailwind-portal {
    @apply text-base-content font-sans;
  }

  /* re-reset to use 0 margin, since this is our new default */
  .tailwind-portal p {
    @apply my-0;
  }
}