/* base */
.landingpage-button {
    height: 36px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    font-size: 14px;  
    padding: 0 12px;
    gap: 8px;
}

@media screen and (max-width: 768px) {
    .landingpage-button {
        height: 40px;
        font-size: 16px;
    }
}

.landingpage-button-fullWidth {
    width: 100%;
    justify-content: center;
}

/* default */
.landingpage-button-default {
    background-color: #000000D0;
    color: #fff;
    transition: background-color 0.2s;
}
.landingpage-button-default:hover {
    background-color: #000000;
}
.landingpage-button-big {
  font-size: 1.08em;
  letter-spacing: 0.5px;
  font-weight: 500;
  padding: 24px 19px;
}

/* secondary */
.landingpage-button-secondary {
    background-color: #E5E5EB;
    color: #000000E0;
    transition: background-color 0.2s;
}
.landingpage-button-secondary:hover {
    background-color: #D8D8DF;
}

/* ghost */
.landingpage-button-ghost {
    background-color: transparent;
    color: #000000A0;
    transition: all 0.2s;
}
.landingpage-button-ghost:hover {
    background-color: #E5E5EB;
    color: #000;
}

/* text */
.landingpage-button-text {
    background-color: transparent;
    color: rgba(0,0,0,0.5);
    font-weight: 500;
    /* color: #1810FF; */
    opacity: 0.8;
    padding: 0
}
