.landingpage-hero-headline {
    grid-column: 3 / span 8;
}
@media screen and (max-width: 768px) {
    .landingpage-hero-headline {
        margin-top: 0 !important;
        grid-column: 1 / span 12;
    }
    #hero-content {
      margin-top: 37px !important;
      margin-bottom: 60px !important;
    }
}
