#features-row-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#features-row-bottom {
  display: grid;
  font-size: 0.9em;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 4px;
}
#features {
  margin: auto;
  margin-top: 0;
  padding: 0 20px;
  max-width: 1080px;
  margin-bottom: 70px;
}
#features p {
  margin: 5px 0;
}
#features-row-bottom h2 {
  font-size: 1.1em;
}
#features h2 {
  margin-bottom: 0.9em;
  margin-top: 0;
}
.learn-more h3:first-of-type {
  margin-top: 15px;
}

/*
.learn-more,
.feature {
  transition: background-color 0.3s ease-in-out;
}
*/
.learn-more {
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  max-width: 886px;
  padding: 10px 20px;
}
.learn-more {
  display: none;
}
.learn-more.selected {
  display: block;
}
#features {
  --border-radius: 20px;
  --border-width: 10px;
  --border-color: #f6f6f6;
}
.feature {
  padding: 8px;
  border-width: var(--border-width);
  border-style: solid;
  border-color: transparent;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.selected {
  border-color: var(--border-color);
  /*
  background-color: #eaeaea;
  background-color: #fafafa;
  background-color: #f4f4f4;
  */
}
.feature.selected {
  border-bottom: 0 !important;
  background-color: white;
  z-index: 1;
}
.learn-more {
  position: relative;
  top: calc(-1 * var(--border-width));
}
/*
.feature:hover {
  background-color: #fafafa;
}
*/
.feature .chevron {
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out !important;
}
.feature.selected .chevron {
  transform: rotate(180deg);
}
