:root {
  --mobile-header-height: 60px
}
#navigation-container {
  position: fixed;
  overflow-y: auto;
}
@media screen and (min-width: 719px) {
  #mobile-header {
    display: none !important;
  }
  #navigation-container {
    height: 100vh;
    top: 0;
  }
}
#panel-left {
  transition: left .25s ease;
  background: white;
  z-index: 2;
}
@media screen and (max-width: 719px) {
  #navigation-header-logo {
    display: none !important;
  }
  #navigation-container {
    height: calc(100vh - var(--mobile-header-height));
    top: var(--mobile-header-height);
    padding-top: 20px;
  }
  #panel-left {
    position: relative;
    margin-left: -300px;
    left: 0;
  }
  #panel-left.show-menu {
    left: 300px;
  }
  #mobile-header {
    display: inherit;
  }
  #doc-page h2 {
    --padding-top: calc(var(--mobile-header-height) + 12px) !important;
  }
}
