.nav-item-h1 + .nav-item-h4 {
  margin-top: -2px;
}
.nav-item-h4 {
  margin-top: 11px;
  margin-bottom: 2px;
  color: #999;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.15ch;
  padding-left: 20px;
  padding-right: 4px;
  display: block;
  text-decoration: none;
}
.nav-item-h1:first-of-type {
  margin-top: 20px;
}
.nav-item-h1 {
  margin-top: 30px;
  font-size: 15.4px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.15ch;
  color: #323d48;
  padding: 12px 0;
  padding-left: 20px;
  padding-right: 4px;
  display: block;
  text-decoration: none;
}
.nav-item code {
  font-size: 0.9em;
}
.nav-item-h2 {
  text-decoration: none;
  font-size: 14.4px;
  font-weight: 400;
  letter-spacing: 0.15ch;
  color: #323d48;
  padding-left: 20px;
  padding-right: 0;
  height: 34px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nav-item-h2 > .nav-item-title {
  margin-top: -2px;
}
.nav-item-h2 > .nav-item-addendum {
  font-size: 10px;
  color: #aaa;
  /*
  margin-top: -2px;
  margin-bottom: -7px;
  */
}
.nav-item-h3 {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.15ch;
  color: #323d48;
  padding: 6px 0;
  margin-left: 20px;
  padding-left: 10px;
  border-left: 6px solid var(--background-color);
  padding-right: 4px;
  display: block;
  text-decoration: none;
}
#navigation {
  --background-color: #f0f0f0;
  padding-bottom: 70px;
}
.nav-item.is-active {
  background-color: var(--background-color);
}
/*
.nav-item {
  border-top: 1px solid transparent;
}
.nav-item.is-active {
  border-color: #eaeaea;
}
.nav-item[is-active] {
  background-color: attr(is-active)
}
*/

/*
#panel-left:not(:hover) ::-webkit-scrollbar {
  display: none;
}
#panel-left ::-webkit-scrollbar-thumb {
  opacity: 0;
}
#panel-left ::-webkit-scrollbar-track {
  opacity: 0;
}
*/

.nav-tree:not(.expanded) > .nav-tree {
  edisplay: none;
  /*
  background:red;
  */
}
/*
.nav-tree.expanded,
.nav-tree.expanded > .nav-tree {
  display: inherit;
}
.nav-tree.expanded,
.nav-tree.expanded > .nav-tree {
  display: inherit;
  background:red;
}
*/
