name: 'Check spellchecker'
on:
  push:
jobs:
  check_spellchecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - run: pnpm install
      - run: pnpm run spellcheck:check
